@using FurnitureStockMarket.Models.Product;

@model IEnumerable<AllProductsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" class="img-fluid" alt="Responsive image" style="height: 400px">
    <h2 class="block-title text-center" style="padding-top: 30px">Products with best reviews</h2>

    @*@foreach(var p in Model)
    {
        <div class="card col-4" style="width: 20rem">
            <div class="card-body">
                <img src="@p.ImageURL" alt="Product image">
            </div>
        </div>
    }*@
</div>
