@using FurnitureStockMarket.Models.MenuSearch;

@model IEnumerable<CategoriesViewModel>

<style>
    /* Custom CSS for sub-dropdown to appear right of parent dropdown */
    .dropdown-submenu {
           position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
    }
</style>

<a class="nav-link dropdown-toggle text-dark" asp-area="" asp-controller="" asp-action="" id="menuDropdown" data-bs-toggle="dropdown">
    Menu
</a>
<ul class="dropdown-menu" aria-labelledby="menuDropdown">
    <!-- Sub-dropdown (Child) -->
    @foreach (var category in Model)
    {
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" asp-controller="MenuSearch" asp-action="", asp-route-id="@category.Category.Id">@category.Category.Name</a>
            <ul class="dropdown-menu">
                @foreach (var subCategory in category.Category.SubCategories)
                {
                    <li><a class="dropdown-item" asp-controller="MenuSearch" asp-action="", asp-route-id="@subCategory.Id">@subCategory.Name</a></li>
                }
            </ul>
        </li>
    }
</ul>

<script>
    $(document).ready(function () {
        // Add a hover event handler for the main dropdown menu items
        $(".dropdown-submenu").hover(function () {
            // Show the sub-dropdown menu on hover
            $(this).find(".dropdown-menu").toggle();
        });
    });
</script>